@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outline {
    @apply rounded-xl outline-0 font-bold  bg-gradient-to-r from-deep-pink to-hot-pink hover:text-theme-back hover:from-hot-pink hover:to-soft-pink focus:ring-offset-indigo-300 focus:ring-indigo-400 focus:ring grid grid-cols-1 grid-rows-1 place-items-center;
    transition: ease-in-out;
    transition-delay: 0ms;
    transition-duration: 10ms;
  }

  .page {
    @apply xl:p-0 lg:px-24 min-h-screen lg:max-h-screen;
  }
}

@layer base {
  body{
    background-image: url("/images/body.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    @apply overflow-x-hidden m-0 w-screen text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
  }

  h1 {
    @apply text-5xl ;
  }

  h2 {
    @apply desktop:text-4xl laptop:text-3xl;
  }

  h3 {
    @apply desktop:text-3xl laptop:text-2xl;
  }

  h4 {
    @apply desktop:text-2xl laptop:text-xl;
  }

  h5 {
    @apply desktop:text-xl laptop:text-lg;
  }

  h6 {
    @apply desktop:text-lg laptop:text-base;
  }

  p, a {
    font-family: 'Lato', sans-serif;
    @apply text-base;
  }

  article {
    @apply flex flex-wrap px-32;
  }

}

@layer utilities {

}

body {
  overflow-x: hidden !important;
}


nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  @apply bg-theme-hover;
  @apply lg:h-screen h-[1500px];
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 270px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 250px;
  height: fit-content;
  flex: 1;
  @apply p-3
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
